{{> header}}

<div class="container mt-4">
  <h1>{{review.user.username}}'s Review</h1>
  <div class="review">
    <h3>{{review.content}}</h3>
    <span><strong>Cleanliness:</strong> {{review.cleanliness}}</span>
    <span><strong>Accessibility:</strong> {{review.accessibility}}</span>
    <span><strong>Privacy & Security:</strong> {{review.privacy_security}}</span>
    <span><strong>Convenience:</strong> {{review.convenience}}</span>
  </div>

  <h2>Comments</h2>
  <ul class="list-unstyled">
    {{#each comments}}
      <li class="comment">
        <strong>{{this.User.username}}:</strong> {{this.content}}
        {{#if ../user}}
          {{#ifEquals this.user_id ../user.id}}
            <form action="/comments/{{this.id}}?_method=DELETE" method="POST" class="delete-form">
              <button type="submit" class="btn btn-danger float-right">Delete Comment</button>
            </form>
          {{/ifEquals}}
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <h2>Leave a Comment</h2>
  <form action="/comments" method="POST" class="comment-form">
    <input type="hidden" name="reviewId" value="{{reviewId}}">
    <input type="hidden" name="userId" value="{{user.id}}">
    <div class="form-group">
      <label for="content">Comment</label>
      <textarea name="content" id="content" rows="4" class="form-control text-dark"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Comment</button>
  </form>
</div>

{{> footer}}
