{{> header}}

<div class="container mt-4">
  <h1>{{user.username}}'s Profile</h1>

  {{!-- <h2>Favorite Restrooms</h2>
  <ul class="list-unstyled">
    {{#each favorites}}
      <li>
        <strong>{{this.Restroom.name}}</strong> - {{this.Restroom.address}}
        <form action="/favorites/{{this.Restroom.id}}?_method=DELETE" method="POST" class="delete-form">
          <button type="submit" class="btn btn-danger">Remove Favorite</button>
        </form>
      </li>
    {{/each}}
  </ul>
</div> --}}

<div class="container mt-4">
  <h2 class="text-center">Profile</h2>
  <form id="profile-form" action="/profile" method="GET"> <!-- action="/profile/update" method="POST" will need to be routed to an update function for the user's profile -->
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" readonly>
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="{{user.firstName}}" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="{{user.lastName}}" required>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="isPublic" name="isPublic" {{#if user.isPublic}}checked{{/if}}>
      <label class="form-check-label" for="isPublic">Public Profile</label>
    </div>
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
</div>

{{> footer}}
